.headerNav {
  padding: 1vw 5.5vw 1vw 5.5vw;
  background: #e8edff;

  .header__list {
    display: flex;
    align-items: center;
    list-style-type: none;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    font-size: 1.8vw;

    .header__item {
      margin-left: 1vw;
    }

    .header__lastItem {
      margin-right: 10vw;
    }

    .header__item__img {
      margin-left: 1vw;
    }
  }

  .header__logo {
    margin-right: 10vw;
  }
}
