@import '@/styles/mixins.scss';
@import '@/styles/variables.scss';

.header {
	overflow: hidden;	
	// position: fixed;
	color: $dark-grey;
	text-align: left;
	margin-bottom: 1rem;
	// padding: 14px 16px;
	font-family: $first-montserrat;
	font-size: 32px;
	font-weight: 700;
	line-height: 40px;
}
