// from branch 'components'
$background-color: #202020;
$border-color: #2F2F2F;
$absolute-white-color: #FFFFFF;
$gray-text-color: #999999;
$black-btn-color: #141414;
$purple-btn-color: #703BF7;
$gray-btn-color: #1A1A1A;

//colors
$dark-grey: #242424;
$font-soft-grey: #9E9E9E;
$font-turquoise: #49BFBF;
$white: #FFFFFF;
$pastel-indigo: #E8EAFF;
$accent-violet: #BC13CB;
$button-focus: #D03EDB;
$button-inactive: rgba(100, 0, 100, .08);
$soft-red: #E12D2D;
$primary-color: #D03EDB;
$border-color: #ccc;
$text-color: #333;

//fonts
$first-montserrat: 'Montserrat', sans-serif;


//background color
$background-white: #e8eaff;

$shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.25);

