.container {
  width: 100%;
  max-width: 1720px;
  margin: 0 auto;
  padding: 0 20px; 
  padding-left: 3vw;
  padding-right: 3vw;
}

.title {
  color: #ffffff;
  background: linear-gradient(to bottom, #e5aaaf 65%, #ffffff);
  padding-bottom: 300px;

  &Article {
    max-width: 691px;
    font-size: 48px; 
    font-weight: 800;
    margin-bottom: 0; 
    text-align: left; 
    margin-right: 0; 
  }

  &Text {
    .titleText {
      font-weight: 400;
      font-size: 16px; 
      max-width: 1062px;
      text-align: left; 
      margin: 0; 
      margin-left: 0; 
      padding: 0 20px; 
    }
  }
}

.titleArticle,
.titleText {
  display: inline-block;
  vertical-align: top;
}


@media (max-width: 320px) {
  .titleArticle {
    font-size: 24px; 
    margin-bottom: 20px; 
  }

  .titleText {
    font-size: 12px; 
    padding: 0 10px; 
  }
}

@media (min-width: 576px) {
  .titleArticle {
    font-size: 28px;
    margin-bottom: 30px;
  }

  .titleText {
    font-size: 14px;
    padding: 0 15px;
  }
}

@media (min-width: 768px) {
  .titleArticle {
    font-size: 32px;
    margin-bottom: 40px;
  }

  .titleText {
    font-size: 16px;
    padding: 0 20px;
  }
}

@media (min-width: 992px) {
  .titleArticle {
    font-size: 48px;
    margin-bottom: 60px;
  }

  .titleText {
    font-size: 20px;
    padding: 0 30px;
  }
}

@media (min-width: 1200px) {
  .titleArticle {
    font-size: 64px;
    margin-bottom: 70px;
  }

  .titleText {
    font-size: 24px;
    padding: 0 40px;
  }
}

@media (min-width: 1600px) {
  .titleArticle {
    font-size: 96px;
    margin-bottom: 85px;
  }

  .titleText {
    font-size: 32px;
    padding: 0 50px;
  }
}
