/*
//font colors
$black: #000000;
$font-deepGray: #606060;
$font-softGray: #9E9E9E;
$font-turquoise: #49BFBF;
$white: #FFFFFF;
$button-violet: #BC13CB;
$button-variant2-color: #D4E0EB;
$accent-blue: #6C79FF;

//fonts
$first-montserrat: 'Montserrat', sans-serif;


//background color
$background-white: #e8eaff;

$shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.25);
*/
//font colors
$black: #000000;
$font-deepGray: #606060;
$font-softGray: #9E9E9E;
$font-turquoise: #49BFBF;
$white: #FFFFFF;
$button-violet: #BC13CB;
$button-variant2-color: #D4E0EB;
$accent-blue: #6C79FF;

//fonts
$first-montserrat: 'Montserrat', sans-serif;


//background color
$background-white: #e8eaff;

$shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.25);

