.saveButton{
    margin-top: 1000px;
    box-sizing: border-box;
    display: block;
    width: 340px;
    min-width: 340px;
    height: 52px;
    font: 400 24px Poppins, sans-serif;
    cursor: pointer;
    background: #13CB3B;
    color: #FFFFFF;
    border: 2px solid #12B135;
    border-radius: 100px;
}